<h2 class="text-center mt-3">Select The Plan</h2>
<div class= "row m-5">
  <div class= "col-4">
    <div class="card">
      <div class="card-header">
        Silver
      </div>
      <div class="card-body">
        <h5 class="card-title"><b>Price:</b> $10 </h5>
        <p class="card-text">Subscribe for silver plan.</p>
        <div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>256MB</em> Memory</li>
						<li><em>1</em> User</li>
						<li><em>1</em> Website</li>
						<li><em>1</em> Domain</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div>
        <button type="button" class="btn btn-primary" data-price="1000" data-bs-toggle="modal" data-bs-target="#card-modal" onClick="PriceData(this)">
          Pay $10
        </button>
      </div>
    </div>
  </div>

  <div class= "col-4">
    <div class="card">
      <div class="card-header">
        Gold
      </div>
      <div class="card-body">
        <h5 class="card-title"><b>Price:</b> $20 </h5>
        <p class="card-text">Subscribe for gold plan.</p>
        <div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>512MB</em> Memory</li>
						<li><em>3</em> Users</li>
						<li><em>5</em> Websites</li>
						<li><em>7</em> Domains</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div>
        <button type="button" class="btn btn-primary" data-price="2000" data-bs-toggle="modal" data-bs-target="#card-modal" onClick="PriceData(this)">
          Pay $20
        </button>
      </div>
    </div>
  </div>

  <div class= "col-4">
    <div class="card">
      <div class="card-header">
        Platinum
      </div>
      <div class="card-body">
        <h5 class="card-title"><b>Price:</b> $50 </h5>
        <p class="card-text">Subscribe for platinum plan.</p>
        <div class="cd-pricing-body">
					<ul class="cd-pricing-features">
						<li><em>1024MB</em> Memory</li>
						<li><em>5</em> Users</li>
						<li><em>10</em> Websites</li>
						<li><em>10</em> Domains</li>
						<li><em>Unlimited</em> Bandwidth</li>
						<li><em>24/7</em> Support</li>
					</ul>
				</div>
        <button type="button" class="btn btn-primary" data-price="5000" data-bs-toggle="modal" data-bs-target="#card-modal" onClick="PriceData(this)">
          Pay $50
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="card-modal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cardModalLabel">Payment Intent</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <br>
    </div>
  </div>
</div>

<script>
  function PriceData(e){
    $.ajax({
      url: "/charges",
      type: "GET",
      data: {"price" : $(e).attr('data-price')},
      dataType: "script"
    });
  }
</script>
